/* ── CSS VARIABLES ── */
:root {
  --white: #f2f4f7;
  --gray: #1e1e1e;
  --black: #010201;
  --orange: #ff9b51;
  --sky: #afddff;
  --grad1-from: #f2f4f7;
  --grad1-to: #ff9b51;
  --grad2-from: #f3d1a6;
  --grad2-mid: #fad9ab;
  --grad2-to: #ecdccc;

  /*perfil*/
  --card-bg: #ffffff;
  --border: rgba(255, 155, 81, 0.25);
  --radius: 16px;

  /*homepage-nabvar*/
  --white-nabvar: #f2f4f7dd;

  /*dashboard*/
  --grad1-start: #f2f4f7;
  --grad1-end: #ff9b51;
  --grad2-a: #f3d1a6;
  --grad2-b: #fad9ab;
  --grad2-c: #ecdccc;
  --sidebar-w: 220px;
  --radius: 16px;
  --shadow: 0 2px 16px rgba(1, 2, 1, 0.07);
}

body {
  font-family: "Syne", sans-serif;
  font-weight: 500;
}
