/* ── CSS VARIABLES ── */
:root {
  --white: #f2f4f7;
  --gray: #1e1e1e;
  --black: #010201;
  --orange: #ff9b51;
  --sky: #afddff;
  --grad1-from: #f2f4f7;
  --grad1-to: #ff9b51;
  --grad2-from: #f3d1a6;
  --grad2-mid: #fad9ab;
  --grad2-to: #ecdccc;

  --white-nabvar: #f2f4f7dd;
}

body {
  font-family: "Syne", sans-serif;
  font-weight: 500;
}
